{% extends 'base.html' %}

{% block title %} Сообщения {% endblock %}

{% block content %}
{% include 'menu.html' %}
<div class="col-4"></div>
<div class="col-4">
<div class="container mt-3" style="...">
<div class="card">
    <div class="card-header"><h2>Общая статистика по рассылкам</h2></div>
    <ul class="list-group list-group-flush">
<li class="list-group-item"><h3>Всего рассылок: {{ mailing_count }}</h3></li>
<li class="list-group-item"><h3>Активных рассылок: {{ mailing_active }}</h3></li>
<li class="list-group-item"><h3>Уникальных получателей: {{ clients }}</h3></li>
    </ul>
</div>
</div>

</div>

{% endblock %}