<nav class="navbar bg-body-tertiary" data-bs-theme="dark">

    <div class="container-fluid">

        <a class="navbar-brand" href="#">
            <img src="/static/logo/bootstrap-logo.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            Меню

        </a>

    <div class="col-8">
<ul class="nav nav-tabs">
  <li class="nav-item mt-3 mb-3 me-3"><a href="#" >
      <button type="button" class="btn btn-primary">Получатели</button></a>
  </li>
  <li class="nav-item mt-3 mb-3 me-3">
    <button type="button" class="btn btn-primary">Сообщения</button>
  </li>
  <li class="nav-item mt-3 mb-3 me-3">
    <button type="button" class="btn btn-primary">Рассылки</button>
  </li>
  <li class="nav-item mt-3 mb-3 me-3">
    <button type="button" class="btn btn-primary">Разослать сообщения</button>
  </li>
</ul></div></div>

</nav>
